@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
body {
    font-family: 'Berkshire Swash', cursive;
}

.headline {
    font-size: 100%;
    margin-bottom: 0.5em;
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    text-align: center;
    transition-delay: 0.4ms;
    color: #b81313;
    text-shadow: 2px 2px green;
}

.headline:hover {
    color: #16850c;
    text-shadow: 2px 2px red;
}

.fir {
    position: relative;
    margin: 0 auto;
    width: 8em;
}

.fir__item {
    margin: 0 auto;
    margin-bottom: -1.5em;
    width: 0;
    height: 0;
    border-left: 2.3em solid transparent;
    border-right: 2.3em solid transparent;
    border-bottom: 3em solid #16850c;
    overflow: hidden;
}

.fir__log {
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 1.3em;
    height: 1.3em;
    background: #8c370f;
    background: linear-gradient(#8c370f, #5c240a);
}

.treedivo {
    font-size: 200%;
    background-image: linear-gradient(to bottom right, rgba(0, 255, 234, 0.473), rgba(255, 0, 0, 0.521));
    padding: 4px;
    margin-top: 20px;
}

body {
    background-color: rgb(240, 240, 240);
}

#logo {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
}

@media (max-width:729px) {
    img#logoimg {
        display: none;
    }
}

.headding {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}

.text {
    color: rgb(0, 0, 0);
    font-family: courier, arial, helvetica;
}

.about {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: grey;
    display: inline-block;
    border-radius: 5px;
}

.aboutText {
    background-color: rgba(156, 153, 153, 0.39);
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
    padding: 4px;
    border-radius: 4px;
}

.link {
    color: rgb(0, 191, 255);
    text-decoration: none;
}

.button {
    background-color: rgb(140, 0, 255);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 130%;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: black
}

.button:hover {
    background-color: rgb(209, 109, 255);
}

.button:active {
    color: rgb(43, 255, 0);
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: #42FF00;
}

@webkit-keyframes rainbow {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    25% {
        color: rgb(255, 81, 0);
    }
    50% {
        color: rgb(60, 255, 0);
    }
    75% {
        color: rgb(0, 255, 64);
    }
    100% {
        color: rgb(76, 236, 1);
    }
}

@ms-keyframes rainbow {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    25% {
        color: rgb(255, 81, 0);
    }
    50% {
        color: rgb(60, 255, 0);
    }
    75% {
        color: rgb(0, 255, 64);
    }
    100% {
        color: rgb(76, 236, 1);
    }
}

@keyframes rainbow {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    25% {
        color: rgb(255, 81, 0);
    }
    50% {
        color: rgb(60, 255, 0);
    }
    75% {
        color: rgb(0, 255, 64);
    }
    100% {
        color: rgb(76, 236, 1);
    }
}

.rainbowColourText {
    -webkit-animation: rainbow 5s infinite;
    -ms-animation: rainbow 5s infinite;
    animation: rainbow 5s infinite;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container>div {
    background-color: #ebe9e8;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 10px;
    border-radius: 10px;
}

.navbar {
    background-color: #ebe9e8;
    display: inline-block;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

.no-underline {
    text-decoration: none;
    color: white;
}

.bit-o-space {
    margin-bottom: 50px;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 120%;
}

.nav {
    color: #0068ff;
    font-size: 120%;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 8px;
}

.nav:hover {
    color: #004fc0;
    text-decoration: underline;
    background-color: rgba(121, 118, 118, 0.651);
}

.active {
    text-decoration: underline;
    color: #929292;
}

#countdown a {
    color: red;
}

#countdown p {
    color: green;
}
